<h1>
    <div class = "text-center">
        <span class = "fa fa-sign-in"></span> Create your profile!
    </div>
</h1>

{{#if success}}
    <h2>Profile created successfully!</h2>
    <hr>
    <div>
        <a href = "/profile/{{user.slug}}">View your Profile!</a>
    </div>
{{else}}

<div id="content">
    <h2 class = "text-center">Fill in the form to create your profile!</h2>
    <form class = "form-horizontal" method="POST" action="/create-profile">
        <div class = "form-group">
            <label class = "control-label col-sm-4" for="ps4">Playstation 4 Username</label>
            <div class = "col-sm-5">
                <input class = "form-control" id="ps4" type="text" name="ps4" required>
            </div>

            <label class = "control-label col-sm-4" for="xbox1">Xbox One Gamertag</label>
            <div class = "col-sm-5">
                <input class = "form-control" id = "xbox1" type = "text" name = "xbox1" required>
            </div>

            <label class = "control-label col-sm-4" for="epicGT">Epic Username</label>
            <div class = "col-sm-5">
                <input class = "form-control" id = "epicGT" type = "text" name = "epicGT" required>
            </div>
        </div>

        <div class = "form-group">
            <label class = "control-label col-sm-4" for="games">Your favorite games:</label>
            <div class = "col-sm-5">
                <select multiple id="games" class="form-control games" name="games">
                    <option value="Fortnite Battle Royale">Fortnite</option>
                    <option value="PlayerUnknowns Battlegrounds">PUBG</option>
                    <option value="Rocket League">Rocket League</option>
                </select>
            </div>
        </div>

        <div class = "form-group">
            <label class = "control-label col-sm-4" for="location">Location:</label>
            <div class = "col-sm-5">
                <select id="location" class="location" name="location">
                    <option value="North America - East">North America - East</option>
                    <option value="North America - West">North America - West</option>
                    <option value="South America">South America</option>
                    <option value="Europe">Europe</option>
                    <option value="Asia">Asia</option>
                    <option value="Oceania">Oceania</option>
                </select>
            </div>
        </div>

        <div class = "form-group">
            <label class = "control-label col-sm-4" for="age">Age</label>
            <div class = "col-sm-5">
                <input type="number" min="15" max="100" value="15">
            </div>
        </div>

        <div class = "form-group">
            <div class = "col-sm-offset-4 col-sm-5">
                <button id = "submitButton" type = "submit" class = "btn btn-default">Create Profile!</button>
            </div>
        </div>
    </form>
</div>

{{/if}}